
#btnLogin:hover{
 border: 1px solid;
}

#btnLogin{
	background-color: #000000;
	color:#fff;
	border: 0px;
}


#btnCad:hover{
	border: 1px solid;
}

#btnCad{
	background-color: #a10327;
	color:#fff;
	border: 0px;
}


#btnCadastrar:hover{
 border: 1px solid;
}

#btnCadastrar{
	background-color: #000000;
	color:#fff;
	border: 0px;
}


#btnCancelar:hover{
	border: 1px solid;
}

#btnCancelar{
	background-color: #a10327;
	color:#fff;
	border: 0px;
}


input {
    border-radius: 10px 10px;
    font-family: "vcr_osd_monoregular", "Corrier New";
    text-align: center;
    font-size: 1.2em;
}

#loginid{
    border-radius: 10px 10px;
    font-family: "Corrier New";
    text-align: center;
    font-size: 1.2em;
}


#passid{
    border-radius: 10px 10px;
    font-family: "Corrier New";
    text-align: center;
    font-size: 1.2em;
}

#p1box, #p2box, #p3box, #p4box{
    font-family: "Corrier New";
    text-align: center;
    font-size: 2.1em;
}
